<%- include('../partials/admin-header.ejs', { pageTitle: 'Admin Dashboard' }) %>

<div class="admin-dashboard">
  <h1>Tableau de Bord Admin</h1>

  <ul class="dashboard-links">
    <li><a href="/admin/cursus">Gérer les cursus et les leçons</a></li>
    <li><a href="/admin/users">Gérer les utilisateurs</a></li>
    <li><a href="/admin/orders">Gérer les commandes</a></li>
  </ul>
</div>

<%- include('../partials/footer.ejs') %>
