.not-found-container {
    max-width: 30rem;
    margin: 1rem auto;
    padding: 2rem;
    text-align: center;
    background: #384050;
    border: 1px solid #cd2c2e ;
    border-radius: 8px;
    color: #f1f8fc;
  }
  
  .not-found-container h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .btn-home {
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 1.5rem;
    background: #0074c7 ;
    color: white;
    border-radius: 0.5rem;
    text-decoration: none;
  }
  
  .btn-home:hover {
    background: #00497c;
  }
  