<%- include('../partials/header') %>

<div class="confirmation-container">
  <h2 class="error-title">❌ Paiement annulé</h2>
  <p class="error-text">Le paiement n’a pas été finalisé. Vous pouvez réessayer à tout moment.</p>
  <a href="/cursus" class="btn-back">Retour à la boutique</a>
</div>

<%- include('../partials/footer') %>
