<%- include('../partials/header.ejs', { pageTitle: 'Connexion' }) %>
  <div class="container">
    <h1>Email confirmé ✅</h1>
    <p><%= message %></p>
    <a href="/auth/login">Se connecter</a>
  </div>
  <%- include('../partials/footer.ejs') %>
