<%- include('../partials/header.ejs', { pageTitle: 'Connexion' }) %>

<div class="login-container">
  <h1>Connexion</h1>

  <form class="login-form" action="/auth/login" method="POST">
    <%- include('../partials/csrf') %>

    <h2>Se connecter</h2>

    <input type="email" name="email" id="email" placeholder="Email" required>
    <input type="password" name="password" id="password" placeholder="Mot de passe" required>

    <button type="submit">Connexion</button>
  </form>

  <p class="social-text">Rejoignez-nous si ce n’est pas déjà fait !</p>

  <div class="social-icons">
    <a href="#"><img src="/img/facebook.png" alt="Facebook"></a>
    <a href="#"><img src="/img/twitter.png" alt="Twitter"></a>
    <a href="#"><img src="/img/instagram.png" alt="Instagram"></a>
  </div>
</div>

<%- include('../partials/footer.ejs') %>
